@font-face {
    font-family: 'Gilam';
    src: url('./fonts/Gilam-BlackDEMO.otf');
}

@font-face {
    font-family: 'Circe';
    src: url('./fonts/Circe-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 1336px;
    display: flex;
    justify-content: center;
    background-image: url('./img/header-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    width: 1460px;
    margin: 0 auto;
}

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 86px;
}

.logo {
    width: 216px;
    height: 33px;
}

.first-text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    color: #D6AF76;
}

.second-text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;

    color: white
}

.nav-menu-second {
    display: flex;
    align-items: baseline;
}

.nav-menu-second-part {
    margin-right: 39px;
}

.icon_phone {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 25px;
    margin-top: 10px;
}

.callback-conteiner {
    display: flex;
    border: 1px solid #E4B564;
}

.callback-first {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #E4B564;
    text-decoration: none;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.callback-link {
    text-decoration: none;
}

/* Header class "header" is over */

.text-conteiner-block-first {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 41px;
}

.text-conteiner-block-second {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
    margin-bottom: 41px;
}

/* Section class "text-conteiner" is over */

.main-wrapper-block {
    display: grid;
    grid-template-rows: repeat(6, 468px);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 29.5px;
    grid-row-gap: 27px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}

.main-wrapper-first {
    grid-column: 1/3;
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper-second {
    grid-column: 3/5;
    background: #B4A385;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-wrapper-third {
    grid-column: 5/7;
    background: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper-fourth {
    grid-column: 1/4;
    background: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper-fifth {
    grid-column: 4/7;
    background: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section class "main" */

.main-part {
    width: 100%;
    height: 1371px;
    display: flex;
    justify-content: center;
    background-color: #171717;
}

.part-conteiner {
    width: 1460px;
    margin: 0 auto;
}

.text-block-first {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
    margin-top: 161px;
    margin-bottom: 94px;
}

.part-conteiner-block-items {
    height: 897px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat (8, 1fr);
    grid-column-gap: 29.5px;
    grid-row-gap: 25px;
}

.part-item-first {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    background: #0E0E0E;
    padding-left: 52px;
    padding-top: 44px;
}

.part-item-second {
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    background-color: #242424;
    padding-left: 51px;
    padding-top: 44px;
}

.part-item-third {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
    background-color: #1F1F1F;
    padding-left: 48px;
    padding-top: 44px;
}

.part-item-fourth {
    grid-column: 1 / 3;
    grid-row: 4 / 9;
    background: #1F1F1F;
    padding-left: 52px;
    padding-top: 56px;
}

.part-item-fifth {
    grid-column: 3 / 5;
    grid-row: 5 / 9;
    background: #E4B564;
    padding-left: 52px;
    padding-top: 47px;
}

.part-item-sixth {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
    background: #0E0E0E;
    padding-left: 48px;
    padding-top: 44px;
}

.part-item-seventh {
    grid-column: 5 / 7;
    grid-row: 6 / 9;
    background: #0A0909;
    padding-left: 48px;
    padding-top: 44px;
}

.part-item-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}

.part-item-text-black {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #000000;
}

/* Main class "main-part" is over */

.footer {
    width: 100%;
    height: 1056px;
    display: flex;
    justify-content: center;
    background-image: url('./img/parallax-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.footer-conteiner {
    width: 1460px;
    margin: 0 auto;
    margin-top: 172px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.footer-box-first-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;
}

.footer-button-link {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #E4B564;
    text-decoration: none;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}

.cliens-list {
    height: 782px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 391px);
}

.cliens-list-first {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #634F2C;
}

.cliens-list-second {
    background: rgba(232, 210, 171, 0.76);
}

.cliens-list-third {
    background: #E4B564;
}

.cliens-list-fourth {
    background: #635A4A;
}

.cliens-list-fifth {
    background: #B08C4D;
}

.cliens-list-sixth {
    background: #634F2C;
}

.footer-logo-first {
    width: 185px;
    height: 49px;
}

.cliens-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cliens-list-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

    text-align: center;

    color: #FFFFFF;
}

.footer-logo-second {
    width: 62px;
    height: 55px;
}

.footer-logo-second-name {
    width: 139px;
    height: 55px;
}

.cliens-list-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cliens-list-third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-third {
    width: 190px;
    height: 42px;
}

.cliens-list-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-fourth {
    width: 190px;
    height: 42px;
}

.cliens-list-fifth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-fifth {
    width: 119px;
    height: 53px;
}

.cliens-list-sixth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-sixth {
    width: 185px;
    height: 49px;
}

.bottom-backgroud {
    width: 100%;
    height: 239px;

    background-color: #171717;
}



/* Footer class "footer" is over */